# Sensitive Env Vars
.env

# Large Data & Models
models/
test_videos/
results/
venv/
__pycache__/
*.pyc
runs/
runs02/
datasets/
tests/
testResult_videos/
output/
*.jpg
*.yaml
*.mp4
.log

60.반려견_보행영상_기반_건강관리_데이터/
dataset_side14_cvat_seed/images/
dataset_side14_cvat_seed.zip
dataset_side14_cvat_seed_train.zip

# Large local artifacts
aihubshell
cvat_import_chunks/
dataset_healthcare_side_*/
dataset_yolo/labels/
for150_labeling_data.zip
*.zip
train.log
*.pt
